# Ansible Shade uses OpenStack clients running locally
[openstack]
localhost ansible_connection=local ansible_python_interpreter=python3

# hack because of jinja2 scoping in loops
{% set countr = [55] %}

{% for output in cluster_stack.stack.outputs %}
{% if output.output_key == "cluster_group" %}
[cluster:children]
{% for group_data in output.output_value %}
{{ cluster_stack.stack.stack_name}}_{{ group_data.group }}
{% endfor %}

{% for group_data in output.output_value %}
[{{ cluster_stack.stack.stack_name}}_{{ group_data.group }}]
{% for node_data in group_data.nodes %}
{{node_data.name}} ansible_host={{ node_data.floatingip }}
{% endfor %}

{% endfor %}
{% endif %}
{% endfor %}
# Specific roles for cluster deployment assignments
{% for role in cluster_roles %}
[cluster_{{ role.name }}:children]
{% for group in role.groups %}
{{ cluster_stack.stack.stack_name}}_{{ group.name }}
{% endfor %}

{% endfor %}

{% for group, group_vars in cluster_group_vars.items() %}
[{{ group }}:vars]
{% for var_name, var_value in group_vars.items() %}
{{ var_name }}={{ var_value }}
{% endfor %}

{% endfor %}
